body{
    display: block;
}
.header{
    height: 80px;
    width: 100%;
    background-color:rgba(12, 11, 11, 0.63);
    position: relative;
    display: flex;
    border-bottom: 5px solid rgb(33, 99, 68);

}
.hd{

    height: 60px;
    width: 60%;
    position: absolute;
    left:125px;
    top :15px;
    display: flex;
    justify-content:space-between;
    text-align: center;
}
.logo_name{
    height: 60px;
    width: 200px;
    display: flex;
}
.logo{
    height: 60px;
    width: 60px;
    background-image:url(https://png.pngtree.com/element_our/20190603/ourlarge/pngtree-movie-board-icon-image_1455346.jpg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    


}
.name{
    font-size: 30px;
    color: white;
}
.search{
    height: 40px;
    width: 300px;
    border-radius: 30px;
    border: 3px solid white;

}
.note{
    height: 60px;
    width: 200px;
    color: aliceblue;
    font-size: 15px;

    text-align: center;
    position: absolute;
    right: 15px;
    top :20px;
}
.noidung{

    height: 50px;
    width: 100%;
    background-color:black;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 1000;
    
}
.nd_boder{
    height: 40px;
    width: 70%;
    background-color: rgb(109, 73, 192);
    position: absolute ;
    left: 15%;
    top: 10px;

    
}
.list{
    height: 10px;
    width: 100px;
    background-color: ;
    ;color: aliceblue;
    text-align: center;
    padding:20px;
    display: block;
    justify-content: center;
    position: relative;
    font-size: 15px;

}
.mc{
    display: none;

}
.mc{
    position: absolute;
}
.danhmuc{
   
    text-align: center;
    background-color:lightslategrey;
    position: relative;
    width: 100px;
    height: 5px;
    padding: 20px;
    top: 10px;
    left: -20px;

}
.list:hover .mc{
    width: 50%;
    height: 500px;
   
    text-align: center;
    display: block;
    
    
}
.list:hover{
    background-color:white;
    color: black;   
}
.danhmuc:hover{
    color: darkcyan;
    border-bottom: 3px solid black;
}
.main{
    height: 1000px;
    width: 100%;
    background-color:rgb(75, 72, 72);
    display: flex;
}
.body_main{
    padding-left: 20px; 
    display: flex;
}
.hot{
    height:350px;
    width:100%;
    display: flex;
    border: 10px solid black;

}
.phim1{
    height: 100%;
    width: 250px;
    background-image: url(https://i0.wp.com/image.motphim.net/poster/neu-em-binh-an-do-moi-la-ngay-dep-troi-8358.jpg?1601971410);
    background-size: cover;
    position: relative;
    border-left: 10px solid black;
   
}
.namephim{
width: 100%;
height: 10%;
background-color: rgb(216, 216, 216,0.5);
font-size: 15px;
text-align: center  ;
position: absolute;
bottom: 0;
color: chocolate;
font-weight: 200;
}
.phim2{
    height: 100%;
    width: 250px;
    background-image: url(https://i0.wp.com/image.motphim.net/poster/truong-an-nac-8284.jpg?1602183942);
    background-size: cover;
    position: relative;
    border-left: 10px solid black;
    
}
.phim3{
    height: 100%;
    width: 250px;
    background-image: url(https://i0.wp.com/image.motphim.net/poster/thanh-thanh-tu-kham-8212.jpg?1602607917);
    background-size: cover;
    position: relative;
    border-left:
     10px solid black;
}
.phim4{
    height: 100%;
    width: 250px;
    background-image: url(http://image.phimmoizz.net/film/11663/poster.medium.jpg);
    background-size: cover;
    position: relative;
    border-left:
     10px solid black;
}
.phim5{
    height: 100%;
    width: 250px;
    background-image: url(http://image.phimmoizz.net/film/11453/poster.medium.jpg);
    background-size: cover;
    position: relative;
    border-left:
     10px solid black;
}
.phim6{
    height: 100%;
    width: 250px;
    background-image: url(http://image.phimmoizz.net/film/1724/poster.medium.jpg);
    background-size: cover;
    position: relative;
    border-left:
     10px solid black;
}
.phim7{
    height: 100%;
    width: 250px;
    background-image: url(http://image.phimmoizz.net/film/11652/poster.medium.jpg);
    background-size: cover;
    position: relative;
    border-left:
     10px solid black;
}
.phim8{
    height: 100%;
    width: 250px;
    background-image: url(http://image.phimmoizz.net/film/11655/poster.medium.jpg);
    background-size: cover;
    position: relative;
    border-left:
     10px solid black;
}
.phimyt{
    width: 28%;
    height:890px;
    z-index: 1;
    background-color: rgb(75, 72, 72);
    margin-left: 20px; 
    
    margin-top: 5px;
}
.phim{
    height: 1000px;
    width: 70%;
    
    
}
.thanhphim{
    height: 50px;
    width: 100%;
    
    padding:20px ;
}
.bangphim{
    margin-top: 5px;
    height: 120px;
    width: 90%;
    border: 3px solid black;
    display: flex;
    position: relative;

}
.phim_1{
    height: 100%;
    width: 30%;
    background-image: url(https://bilugo.com/upload/images/2020/09/cuu-vi-ho-truyen-2020_1600352041.jpg);
    background-size: cover;
    position: relative;
    
   
}
.name_phim{
    margin-top: 25px;
    width: 70%;
    height: 100%;
    margin-left: 10px;
    
    color: aquamarine;
}
.pt{
    height: 20px;
    width: 100px;
    background-color: orange;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}



